body {
	margin: 0;
}

#calculator-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #000;
	}
}
